*{
    margin: 0;
    padding:0;
}
#MainHeading{
    margin: 2rem;
    color:#414535;
    font-size: 3rem;
    


}
main{
text-align: center;
}
body{
    background-color: #F2E3BC;
}
.container{
    height:70vh;
display:flex;
justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.game{
    height: 60vmin;
    width: 60vmin;
    /* background-color: antiquewhite; */
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

    gap:1.5vmin;
    
}
.boxes{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    color:#59114D;
    font-size: 10vmin;
    background-color: #96BBBB;
}
#reset{
    padding:0.5rem;
    font-size: 1.5rem;
    background-color: black;
    color:white;
    border-radius:1rem;
    border:none;
}
#result{
    display:inline-block;
    padding: 1rem;
    margin:10px 0px 10px 0px;
    font-size: 2rem;
    color:#59114D;
    border:5px solid black;
}

#right{
    border:3px solid black;
    position: Absolute;
    right:30px;
}